<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer th:fragment="footer" id="main-footer" class="text-center p-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="footer">Copyright &copy;
                    <span id="year"></span>
                    <!-- Separate Font Design for 'HappyTingkat' wording -->
                    <span class="happy">HappyTingkat :)</span>
                </p>
                <i class="fab fa-facebook-f"></i><i class="fab fa-twitter"></i><i class="fab fa-instagram"></i>
            </div>
        </div>
    </div>
</footer>

</body>
</html>