<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-sm navbar-dark" style="background-color: #699e3c;">
    <div class="container-fluid">
        <a class="navbar-brand" th:classappend="${#httpServletRequest.getRequestURI() == '/index' ? 'active':''}" aria-current="page" th:href="@{index}">T.Logo</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/index' ? 'active':''}" aria-current="page" th:href="@{index}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/aboutus' ? 'active':''}" th:href="@{aboutus}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/product' ? 'active':''}" th:href="@{product}">Catering Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/order' ? 'active':''}" th:href="@{order}">Order Now</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/admin' ? 'active':''}" th:href="@{admin}">Admin</a>
                </li>
            </ul>
            <button type="button" class="btn btn-success">YOUR CART</button>
        </div>
    </div>
</nav>

</body>
</html>