* {
    box-sizing: border-box;
}


.navbar .nav-link {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 1rem !important; /*1rem is 16 px, impt makes it take effect over other styles*/
    padding-right: 1rem !important;
}



#intro {
    display: flex;
    height:600px;
    width:100%; /*1000px*/
    background-image: url('https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?cs=srgb&dl=pexels-ella-olsson-1640774.jpg&fm=jpg');
    background-position:center;
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
   
    
}

/*

.intro-bg {
    display: flex;
    flex-direction: column;
    background: rgba(199, 171, 89, 0.9);
    height: 60%;
    width: 70%;
    margin: auto; //自动调节到中间
 
*/ 
.intro-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    /*justify-content: center;
    text-align: center; */
    /*color:rgba(199, 171, 89); */
    font-size: 80px;
    color: white;
    font-style: Monserratt;
    letter-spacing:5px;
    font-weight: 800;
   
}  /* https://www.awwwards.com/20-best-web-fonts-from-google-web-fonts-and-font-face.html */

.intro-quality {

    font-size: 25px;
    color:#699E3C;
    font-style: Monserratt;
    letter-spacing: 5px;
    font-weight: 800;
    /*font-family: 'Cormorant', serif;*/

}

.intro-open {

    font-size: 20px;
    color: #699E3C;
    font-style: Monserratt;
    letter-spacing: 3px;
    font-weight: 600;
}
/*
.intro-icon {
   
    margin-right: 30px;
    font-size: 20px;
  

}
*/
.fa-facebook {
    background: #3B5998;
    color: white;

  }

.fa-instagram {
    background: #125688;
    color: white;
  }

.fa-twitter {
    background: #55ACEE;
    color: white;
  }


  /* The 2nd of section */


.header {
    text-align: center;
    margin: 100px;
}


.why1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    
}

.icon-section {
    display:flex;
    flex-direction: column;
    margin: 20px;
    width: 90%;
    
}







/* The 3rd of section - bot been used now */

/*

#aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:800px;
    margin-top: 80px;
    
}

.Happy {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 60px;

    
}

.Team {
    display: flex;
    flex-basis: 20%;
    border-radius: 20px;
    
}

.card {
   display: flex;
   flex-direction: column;
   margin: 30px;
   padding: 20px;
   border: none;
 
}

.shape {

    width: 450px;
    height: 450px;

}

#Terence img {
    display: flex;
    flex-direction: column;
    transform: translate(50px,100px);
}


.card-img4 {
    position: absolute;
    z-index: 2;
    width: 200px;
    height: 200px;
    left: 100px;
    top: 100px;
}


.shape {
    position: absolute;
    width: 450px;
    height: 450px;
    z-index: 1;
    left: 20px;
    top: 0;
}
*/




/* the 3rd of section - back up / has been used */

.profile-area {
    padding: 80px 0;
    margin-bottom: 150px;
}



.card {
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 15px;

}

.img1 img {
    height: 200px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;

}

.img2 img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-top: -80px;
    
}

.card:hover .img2 img {
     border-color: #699E3C;
     transition: .7s;

}

.main-text {
    padding: 38px 0;
    text-align: center;
    color: rgb(182, 176, 176);

}


.main-text h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 20px;
}

.margin-text p {
    font-size: 16px;
    padding: 0 35px;
    
}

.socials  {
    text-align: center;
    padding-bottom: 20px;
    color: #536878;
  

}

.socials  {
    font-size: 25px;
    color:rgb(199, 171, 89,);
    margin-right:10px;
} 

/* Footer Style */
#main-footer {
    background: #ffffff;
    color: #302718;
}

.fab {
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}



@media only screen and (max-width: 768px) {
   
    /*
    .Team {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    } */



    .contact {
        display: none;
    }

    .card {
      
        margin-bottom: 40px;
    }

    
   
    /*
    .aboutus-style {
    width: 100%;
    height: 1200px;
    } */



/*  hide
    .intro-bg {
        display: flex;
        flex-direction: column;
        background: rgba(199, 171, 89, 0.7);
        height: 90%;
        width: 70%;
        margin: auto; //自动调节到中间
        padding: 10px;
    }

    .intro-content {
        display: flex;
        margin: auto;
        text-align: justify;
        color:black;
        padding: 20px;
        line-height: 20px;
    
    }
*/

    
}