:root {
  --brown: #302718;
  --darkgold: #c7ab59;
  --lightgold: #ded2a8;
  --green: #699e3c;
}

* {
  box-sizing: border-box;
}

h1 { font-size: 34px; }
h2 { font-size: 32px; }
h3 { font-size: 26px; }
h4 { font-size: 22px; }
h5 { font-size: 20px; }



/* Navigation Bar Style */
nav {
    width: 100%;
}

.navbar .nav-link {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 1rem !important; /*1rem is 16 px, impt makes it take effect over other styles*/
    padding-right: 1rem !important;
}

.navbar .nav-link.active {
    background-color: #38891b;
    border-radius: 5px;
}

.nav-item a {
     color: black;
}

#intro {
    display: flex;
    height:600px;
    width:100%; /*1000px*/
    background-image: url('https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?cs=srgb&dl=pexels-ella-olsson-1640774.jpg&fm=jpg');
    background-position:center;
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}

/* intro section */


.intro-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 80px;
    color: white;
    font-style: Monserratt;
    letter-spacing:5px;
    font-weight: 800;

}  /* https://www.awwwards.com/20-best-web-fonts-from-google-web-fonts-and-font-face.html */

.intro-quality {

    font-size: 25px;
    color:#699E3C;
    font-style: Monserratt;
    letter-spacing: 5px;
    font-weight: 800;

}

.intro-open {

    font-size: 20px;
    color: #699E3C;
    font-style: Monserratt;
    letter-spacing: 3px;
    font-weight: 600;
}

 /*Video section*/

#videotitle {
    color: #699e3c;
    font-family:Monserratt;
    font-size: 80px;
}

.videotext {
    color: #699e3c;
    line-height: 25px;
    text-align: justify;
}

.button-video {
    width: 100px;
    color: white;
    font-size: 12px;
    padding: 12px 0;
    background: #699e3c;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}

.video {
    width: 450px;
    height: auto;
    border: 0;
    border-radius: 20px;
}

.aboutus-block2 {
    justify-content: center;
    align-items: center;
}

/* why order with us */

#why-order {
    background-color: #c7ab59;
    width:100%;
    height: auto;
    padding: 80px 40px 50px 40px;
}

.why {
    display:flex;
    flex-wrap: wrap;
}

.why > div {
    flex: 50%;  /* 2 itmes in a row */
    margin-bottom: 30px;
    align-items: center;       /* vertical*/
    justify-content: center;
}

p.whytext {  /*Text style*/
    text-align: justify;
    width:300px;
}

.icon-section {
    display: flex;
    align-items: center;
}

.icon-text {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}



/* cards */

.profile-area {
    padding: 80px 0;
    margin-bottom: 60px;
}



.card {
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 15px;
    height: 45rem;
    justify-content:space-between;
}

.img1 img {
    height: 200px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
}

.main-items {
    transform: translateY(-40%);
}

.img2 img {
    /* transform: translateY(-45%); */
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-bottom: 1rem;

}

.card:hover .img2 img {
     border-color: #699E3C;
     transition: .7s;

}

.main-text {
    transform: translateY(-3%);
    padding: 0 1rem 10px 1rem;
    text-align: center;
    color: rgb(182, 176, 176);
    height: 15rem;
    /* margin-top: -10rem; */
}


.main-text h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 20px;
}

.margin-text p {
    font-size: 16px;
    padding: 0 30px;

}

.socials {
    text-align: center;
    color: #536878;
    font-size: 25px;
    /* color:rgb(199, 171, 89); */
    margin-right: 10px;
    padding-bottom: 1rem;
    margin-top: -6rem;
}


/* footer */


#main-footer {
    background: #ffffff;
    color: #302718;
}

.fab {
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}


@media only screen and (max-width: 768px) {

    .intro-content {
         width: 100%;
         height: auto;
        }
        .contact {
            display: none;
        }
        .card {
            margin-bottom: 40px;
        }

    /* Why order with us */
    .icon-text {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    }

    .icon-section {
        display:flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
        justify-content: center;
    }

}
