:root {
  --brown: #302718;
  --darkgold: #c7ab59;
  --lightgold: #ded2a8;
  --green: #699e3c;
}

* {
  box-sizing: border-box;
}

h1 { font-size: 34px; }
h2 { font-size: 32px; }
h3 { font-size: 26px; }
h4 { font-size: 22px; }
h5 { font-size: 20px; }



/* Navigation Bar Style */
nav {
  width: 100%;
}

.navbar .nav-link {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 1rem !important; /*1rem is 16 px, impt makes it take effect over other styles*/
  padding-right: 1rem !important;
}

.navbar .nav-link.active {
  background-color: #38891b;
  border-radius: 5px;
}

.nav-item a {
  color: black;
}



section.container{

    background-color: #c7ab59;
    border-radius: 10px;
    width: 40%;
    margin-top: 100px;
    padding: 10px 20px 20px 20px;

}


.btn btn-primary {

  item-align: center;
}

.form-control {

padding: 0 40px;
height: 30px;

}


/*
.container img {

  border: 3px white solid;
  border-radius: 10px;

}
*/



/* Footer Style */
#main-footer {
    background: #ffffff;
    color: #302718;
}

.fab {
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
