<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- COMMON STYLES -->
    <div th:replace="fragments/commonStyles.html :: commonStyles"></div>

    <!-- PAGE-SPECIFIC STYLES -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap">
    <link rel="stylesheet" href="css/AboutUsstyle.css">

    <!-- Imported Font Families -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter&display=swap">

    <!-- Imported Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>About Us</title>

</head>
<body>

<!--COMMON NAV BAR-->
<div th:insert="fragments/navbar.html :: navbar"></div>


<!-- Introduction Section -->
<section id="intro">
    <div class="intro-content">
        <p>HAPPY TINGKAT</p>
        <p class="intro-quality">QUALITY PRODUCTS AND RICH FLAVOURS</p>
        <p class="intro-open">OPEN DAILY FOR DELIVERY</p>
    </div>
</section>



<!-- video section -->
<section>
    <div class="aboutus-video container my-5">
        <div class="row">
            <div class="aboutus-block1 col-md-6">
                <h1 id="videotitle">
                    Fresh Daily
                </h1>
                <p class="videotext">
                    At Happy Tingkat :), we'd love to be your dietary assistants in your life.
                    Create a convenient, delicious, healthy and cost-effective meal for you and your
                    family.
                    In our fast-paced life, planning and preparing all of our daily meals can become
                    challenging.
                    Especially when juggling work while establishing regular and healthy eating
                    habits for yourself and your family.
                    Let you stay at home, save a lot of time for purchasing, preparing and cooking,
                    and get healthy while tasting delicious.
                    If you'd like to add to your meal, order our new market items.
                </p>
                <a class="navbar-product" th:classappend="${#httpServletRequest.getRequestURI() == '/product' ? 'active':''}" aria-current="page"
                   th:href="@{product}">
                    <button type="button" class="button-video" style="margin-bottom: 30px">Explore more</button>
                </a>
            </div>
            <div class="aboutus-block2 col-md-6 d-inline-flex">
                <video class="video" controls src="Projectimages/video_veg.mp4"></video>
            </div>
        </div>
    </div>
</section>


<!-- Why order with us Section-->
<section id="why-order">
    <div class="why">
        <div class="icon-section">
            <div class="icon">
                <img src="Projectimages/meal1.png" width="160px" height="160px">
                <br>
                <br>
            </div>
            <div class = "icon-text">
                <h3>Preparation</h3>
                <h3>The Finer Details</h3>
                <br>
                <p class="whytext">We abide by a strict hygiene code of practice at all times.
                    Every ingredient is carefully examined, then kept in their respective safe
                    temperature storages.
                    We look into just about everything to keep things fresh. There’s no
                    compromise in that.</p>
            </div>
        </div>
        <div class="icon-section">
            <div class="icon">
                <img src="Projectimages/meal2.png" width="160px" height="160px">
                <br>
            </div>
            <div class = "icon-text">
                <h3>Ingredients</h3>
                <h3>Quality is our thing</h3>
                <br>
                <p class="whytext">It’s about passion and having an eye for fresh picks.
                    Our dedicated team of chefs source and prep your meals responsibly with as
                    little waste as possible.
                    We believe in honest ingredients and turning them into food that nourishes
                    the body and soul. </p>
            </div>
        </div>
        <div class="icon-section">
            <div class="icon">
                <img src="Projectimages/meal3.png" width="150px" height="150px">
                <br>
                <br>
            </div>
            <div class = "icon-text">
                <h3>Technology</h3>
                <h3>Food and science</h3>
                <br>
                <p class="whytext">We strive for gastronomic excellence, made possible
                    powered by the
                    industry’s leading technology using the High Pressure Processing (HPP)
                    technique.
                    The delicate relationship between food and science co-exists to serve better,
                    healthier,
                    and longer-lasting food. Safety first, we only serve food we love.</p>
            </div>
        </div>
        <div class="icon-section">
            <div class="icon">
                <img src="Projectimages/meal4.png" width="160px" height="160px">
                <br>
                <br>
            </div>
            <div class = "icon-text">
                <h3>Nutritionist</h3>
                <h3>Working with the best</h3>
                <br>
                <p class="whytext">Our Olympic-certified nutritionist plays an essential role
                    here at Happy Tingkat.
                    They have a deep understanding of food and how it benefits our body, mood,
                    and energy.
                    With their expertise and our ethos in mind, we aim to bring you an easy
                    solution towards
                    healthier eating and living.</p>
            </div>
        </div>
    </div>
</section>


<!-- About Us Section-->
<section>
    <div class="profile-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card">
                        <div class="img1"><img src="Projectimages/Amybg_2_edited200602.jpg" alt=""></div>
                        <div class="main-items">
                            <div class="img2"><img src="Projectimages/Picture D.png" alt=""></div>
                            <div class="main-text">
                                <h2>JFSD
                                    <br>Desmond</h2>
                                <p>I am an aspiring JFSD with 6 years of HR experience in the engineering services industry.
                                    I have always been interested in the technology space and implemented numerous employee
                                    digital initiatives during my time in HR to ensure a pleasant onboarding experience.
                                    I hope to use my newly acquired software development skills to deliver HR solutions
                                    for the company I work for.</p>
                            </div>
                        </div>
                        <div class="socials">

                            <a href="https://www.linkedin.com/in/desmond-chua-92a03536/" style="text-decoration:none">
                                <img src="Projectimages/linkedin.svg" alt="linkedin icon" style="width:20px;height:20px;">
                            </a>
                            <a href="https://github.com/desporamon">
                                <img src="Projectimages/github.svg" alt="github icon" style="width:20px;height:20px;">
                            </a>

                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card">
                        <div class="img1"><img src="Projectimages/Desmondbg.jpg" alt=""></div>
                        <div class="main-items">
                            <div class="img2"><img src="Projectimages/Picture T2.png" alt=""></div>
                            <div class="main-text">
                                <h2>JFSD
                                    <br>Terence</h2>
                                <p>
                                    My name is Terence and I'm an aspiring full stack developer.
                                    I love writing code and problem solving and have enjoyed closely collaborating with my teammates to build out this webpage.
                                    I'm also looking forward to my apprenticeship where I hope to improve my skills so that I can be an effective contributor to my team.
                                    My favorite languages are Java and JavaScript.
                                </p>
                            </div>
                        </div>
                        <div class="socials">

                            <a href="https://www.linkedin.com/in/terence-chia-b90a5a92/" style="text-decoration:none">
                                <img src="Projectimages/linkedin.svg" alt="linkedin icon" style="width:20px;height:20px;">
                            </a>
                            <a href="https://github.com/terencebc92">
                                <img src="Projectimages/github.svg" alt="github icon" style="width:20px;height:20px;">
                            </a>

                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card">
                        <div class="img1"><img src="Projectimages/Gideonbg_edited200602.jpg" alt=""></div>
                        <div class="main-items">
                            <div class="img2"><img src="Projectimages/Picture G.png" alt=""></div>
                            <div class="main-text">
                                <h2>JFSD
                                    <br>Gideon</h2>
                                <p>Embarking on this FSD programme has been an enriching experience for me, as I’ve learnt to create applications starting from just an (often rough) idea.
                                    I enjoy the process of building and the huge sense of satisfaction that comes from reaching each goal. I certainly hope to continue growing my skills & knowledge in FSD to contribute increasingly to my future organization.</p>
                            </div>
                        </div>
                        <div class="socials">
                            <a href="https://www.linkedin.com/in/gideon-fu-ba40b6b3/" style="text-decoration:none">
                                <img src="Projectimages/linkedin.svg" alt="linkedin icon" style="width:20px;height:20px;">
                            </a>
                            <a href="https://github.com/gideonfu55">
                                <img src="Projectimages/github.svg" alt="github icon" style="width:20px;height:20px;">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card">
                        <div class="img1"><img src="Projectimages/Terencebg.jpg" alt=""></div>
                        <div class="main-items">
                            <div class="img2"><img src="Projectimages/Picture A.png" alt=""></div>
                            <div class="main-text">
                                <h2>JFSD
                                    <br>Amy</h2>
                                <p>I am fortunate to have a comprehensive understanding of the daily work of JFSD through this bootcamp.
                                    The most gratifying thing to me was finding my love for front-end development and web design during this journey.
                                    Especially in the process of material collection, I was attracted by those creative web pages.
                                    I look forward to the accumulation and growth of this aspect in my apprenticeship.</p>
                            </div>
                        </div>
                        <div class="socials">
                            <a href="https://www.linkedin.com/in/mengmeng-zhang-2103939b/" style="text-decoration:none">
                                <img src="Projectimages/linkedin.svg" alt="linkedin icon" style="width:20px;height:20px;">
                            </a>
                            <a href="https://github.com/AmyZhangMm">
                                <img src="Projectimages/github.svg" alt="github icon" style="width:20px;height:20px;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- COMMON FOOTER -->
<div th:insert="fragments/footer.html :: footer"></div>

<!-- COMMON SCRIPTS -->
<div th:insert="fragments/commonScripts.html :: commonScripts"></div>

</body>
</html>
