<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">

    <!-- PAGE-SPECIFIC STYLES -->
    <link rel="stylesheet" href="css/indexstyle.css">

    <!-- Imported font family for 'Happy Tingkat' wording in footer -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Smooch&display=swap"
          rel="stylesheet">

    <title>Happy Tingkat Main</title>
</head>

<body>
<!--  THYME LEAF NAV BAR-->
<div th:insert="fragments/navbar.html :: navbar"></div>

<!-- SHOWCASE SLIDER -->
<section id="showcase">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item carousel-image-1 active">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block mb-5">
                        <h1 class="display-3">Best Tingkat Delivery!</h1>
                        <p class="lead">Delivering nutritious meals 365 days - Islandwide Delivery :)</p>
                        <a th:classappend="${#httpServletRequest.getRequestURI() == '/order' ? 'active':''}" th:href="@{order}" class="btn btn-success btn-lg">Order now</a>
                    </div>
                </div>
            </div>

            <div class="carousel-item carousel-image-2">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-right mb-5">
                        <h1 class="display-3">Daily Meal Subscription</h1>
                        <p class="lead">Enjoy delicious home-cooked meals worry-free for 10, 20, or 30 days. Choose the meal plan that suit you best and leave the rest to us!</p>
                        <a th:classappend="${#httpServletRequest.getRequestURI() == '/product' ? 'active':''}" th:href="@{product}" class="btn btn-success btn-lg">Catering Menu</a>
                    </div>
                </div>
            </div>

            <div class="carousel-item carousel-image-3">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-left mb-5">
                        <h1 class="display-3">Time to eat real healthy food!</h1>
                        <p class="lead">Zero processed and canned food with no added MSG! Suitable for the eldery and young children!</p>
                        <a th:classappend="${#httpServletRequest.getRequestURI() == '/aboutus' ? 'active':''}" th:href="@{aboutus}" class="btn btn-success btn-lg">About Us</a>
                    </div>
                </div>
            </div>
        </div>

        <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
            <span class="carousel-control-prev-icon"></span>
        </a>

        <a href="#myCarousel" data-slide="next" class="carousel-control-next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</section>

<!--HOW TO ORDER-->
<section id="home-icons" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>How to Order</h2>
            </div>
            <div class="col-md-3 mb-3 text-center">
                <i class="fas fa-bars fa-3x mb-2"></i>
                <h3>Go to order now</h3>
                <p>Select lunch/dinner, meal delivery start date, meal options and add-ons!</p>
            </div>
            <div class="col-md-3 mb-3 text-center">
                <i class="fas fa-shopping-basket fa-3x mb-2"></i>
                <h3>Choose your package</h3>
                <p>Chinese and Halal packages both available! Choose between 10, 20 or 30 days package!</p>
            </div>
            <div class="col-md-3 mb-3 text-center">
                <i class="fas fa-cart-plus fa-3x mb-2"></i>
                <h3>Add to cart & select cart</h3>
                <p>Review your order details before confirmation!</p>
            </div>
            <div class="col-md-3 mb-3 text-center">
                <i class="fas fa-credit-card fa-3x mb-2"></i>
                <h3>Select payment & place order</h3>
                <p>We accept all major credit cards Visa/Master/American Express and PayNow!</p>
            </div>
        </div>
    </div>
</section>

<!-- DIVIDER SECTION -->
<section id="divider" class="p-5">
    <div class="dark-overlay">
        <div class="row">
            <div class="col">
                <div class="container pt-5">
                    <h1>Happy Tingkat Happy Tummy :)</h1>
                    <p class="d-none d-md-block">Here at Happy Tingkat we strive to bring you the taste of home cooked meals that are both delicious and nutritious. Our Tingkat Delivery service is hassle-free and convenient - Perfect for everyone!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FAQ -->
<section id="faq" class="p-5 text-dark">
    <div class="container">
        <h1 class="text-center">Frequently Asked Questions</h1>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <a href="#collapseOne" data-toggle="collapse" data-parent="accordion">
                                    Qn 1: Do you offer Tingkat delivery for 1 pax?
                                </a>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse">
                            <div class="card-body">
                                Yes, we do! We offer tingkat delivery services for 1 up to 3 pax.
                                Simply indicate your preferences when ordering and we will prepare your meals accordingly.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <a href="#collapseTwo" data-toggle="collapse" data-parent="accordion">
                                    Qn 2: Is there a delivery fee?
                                </a>
                            </h5>
                        </div>

                        <div id="collapseTwo" class="collapse">
                            <div class="card-body">
                                Free for HDB units and landed houses! For customers residing in condominimums, it will
                                be free to drop off the food at the guardhouse. Otherwise, there will be an additional
                                $20 delivery charge to deliver food to the unit.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <a href="#collapseThree" data-toggle="collapse" data-parent="accordion">
                                    Qn 3: How are your tingkat meals different from the other caterers?
                                </a>
                            </h5>
                        </div>

                        <div id="collapseThree" class="collapse">
                            <div class="card-body">
                                In Happy Tingkat, we target to provide nutritious meals to also the eldery and children.
                                That is why we created our dishes with less salt, less oil, and no added MSG. The ingredients
                                in our tingkat meals are specially prepared to be easily digestible. They are softer and
                                easier to chew, allowing the bodies of older people to easily process and absorb the
                                nutrients they need. Plus, our menu plan is specially designed to suit the taste buds
                                of the young and old. It is also filled with healthy foods like scallops and red dates!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
   <!--  <div id="accordion"> -->
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <a href="#collapseFour" data-toggle="collapse" data-parent="accordion">
                                    Qn 4: Why choose Happy Tingkat :)?
                                </a>
                            </h5>
                        </div>

                        <div id="collapseFour" class="collapse">
                            <div class="card-body">
                                We are one of the few tingkat caterers in Singapore offering both Chinese and Muslim
                                cuisine. For busy working families who do not have time to prepare their meals, we
                                offer highly affordable packages. If you are looking for something affordable and
                                healthy to eat throughout the day, we got you covered!
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <a href="#collapseFive" data-toggle="collapse" data-parent="accordion">
                                    Qn 5: What are your Tingkat delivery timings?
                                </a>
                            </h5>
                        </div>

                        <div id="collapseFive" class="collapse">
                            <div class="card-body">
                                We offer two delivery time slots: <br><br>
                                10.00am - 1.30pm (Lunch)<br><br>
                                4.00pm - 7.00pm (Dinner)
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <a href="#collapseSix" data-toggle="collapse" data-parent="accordion">
                                    Qn 6: Do you offer any trial packages?
                                </a>
                            </h5>
                        </div>

                        <div id="collapseSix" class="collapse">
                            <div class="card-body">
                                We currently do not offer any trial packages. For a start, you may try our 10 days package.
                                If you like our food, you can consider our 20 and 30 days packages as well which offer greater
                                discounts!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- PHOTO GALLERY -->
<section id="gallery" class="py-5">
    <div class="container">
        <h1 class="text-center">Food Gallery</h1>
        <p class="text-center">Check out our dishes!</p>
        <div class="row mb-4">
            <div class="col-md-4">
                <img src="Projectimages/chinesefood1-min.jpg" alt="" class="img-fluid">
            </div>

            <div class="col-md-4">
                <img src="Projectimages/chinesefood2-min.jpg" alt="" class="img-fluid">
            </div>

            <div class="col-md-4">
                <img src="Projectimages/chinesefood3-min.jpg" alt="" class="img-fluid">
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-4">
                <img src="Projectimages/malayfood1_edited200622.jpg" alt="" class="img-fluid">
            </div>

            <div class="col-md-4">
                <img src="Projectimages/malayfood2_resized220622.jpg" alt="" class="img-fluid">
            </div>

            <div class="col-md-4">
                <img src="Projectimages/malayfood3resized_edited.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>



<!-- BECOME MEMBER -->
<section id="be-member" class="text-center p-5 text-white">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Become a Member!</h1>
                <p>Complimentary meals for Birthday Month etc.</p>
                <form class="form-inline justify-content-center">
                    <input type="text" class="form-control mb-2 mr-2" placeholder="Enter Name">
                    <input type="text" class="form-control mb-2 mr-2" placeholder="Enter Email">
                    <button class="btn btn-success mb-2">Join Member</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER -->
<div th:insert="fragments/footer.html :: footer"></div>


<!--  COMMON SCRIPTS -->
<div th:insert="fragments/commonScripts.html :: commonScripts"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>

<script>
      //Get the current year for the copyright
      $('#year').text(new Date().getFullYear());

      //Configure Slider, use jquery to grab onto carousel class, 4.5s to change image and pause when hover
      $('.carousel').carousel({
        interval: 4500,
        pause:'hover'
      });
  </script>

</body>
</html>
